.navbar{
    position: fixed;
    display: flex;
}

.nav-menu{
    background-color: rgba(15, 102, 19, 0.966);
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 79px;
    left: -100%;
    transition: 1.8s;
}

.nav-menu.active{
    left: 0;
    transition: 1.8s;
}

/* .nav-text */
.nav-menu-items{
    /* display: flex; */
    justify-content: start;
    align-items: center;
    padding: 0px;
    list-style: none;
}


.sidebar_btn{
    top: 10px;
    left: 0;
    padding: auto;
    width: 50px;
    height: 50px;
    background-color: rgb(109, 124, 72);
    border: none;
    border-radius: 0 10px 10px 0;
}
.sidebar_btn2{
    right: 0%;
    width: 50px;
    height: 50px;
    background-color: rgb(244, 245, 244);
    border: none;
    border-radius: 10px 0 0 10px ;
    position: absolute;
}
.side_btn{
    width: 30px;
    transform: rotate(-90deg);
}
.side_btn1{
    width: 30px;
    transform: rotate(90deg);
}









.nav-menu-items{
    margin-top: 60px;
    height: auto;
    width: 100%;
    padding: 0;
}
.nav-menu-items .navbar-toggle{
    width: 100%;
    height: 70px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}
.nav-menu-items .navbar-toggle:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    border-left: 1px solid rgb(30, 75, 9);
}
.nav-menu-items #active{
    background-color: rgba(0,0,0,0.2);
}

.navbar-toggle #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}
.navbar-toggle #title{
    flex: 70%;
}
